<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/trungnd10</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<!-- <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property> 
			<property name="hibernate.cache.use_second_level_cache">true</property> -->

		<!-- use cache of Memcached -->
		<property name="cache.provider_class">com.googlecode.hibernate.memcached.MemcachedCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.Memcached.servers">localhost:11211</property>
		<property name="hibernate.Memcached.cacheTimeSeconds">300</property>
		<property name="hibernate.Memcached.connectionFactory">BinaryConnectionFactory</property>
		<!-- <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property> -->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>


        <!-- Database connection settings -->
<!--         <property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="connection.url">jdbc:derby://localhost:1527/C:/data/contact;create=true</property>
        <property name="connection.username">dbadmin</property>
        <property name="connection.password">dbadmin</property>
 -->
        <!-- JDBC connection pool (use the built-in) -->
<!--         <property name="connection.pool_size">1</property>
 -->
        <!-- SQL dialect -->
<!--         <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
 -->        
        <!--  
         <property name="cache.provider_class">com.googlecode.hibernate.memcached.MemcachedCacheProvider</property>
         <property name="hibernate.memcached.servers">localhost:11211</property>
         <property name="hibernate.memcached.cacheTimeSeconds">300</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.memcached.connectionFactory">BinaryConnectionFactory</property>
		-->
       
        <!-- Echo all executed SQL to stdout -->
	<!-- <property name="show_sql">true</property> -->
        <!-- Drop and re-create the database schema on startup -->
<!--         <property name="hbm2ddl.auto">create</property>
 -->
        <mapping resource="com/javaworld/memcache/Contact.hbm.xml"/>
    </session-factory>

</hibernate-configuration>